/* ESTILO GERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #191919;
}

.icone-react i {
  font-size: 30px;
  color: #fff;
}

.interface {
  max-width: 1280px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.btn-contato button {
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 600;
  background-color: #578EC9;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  transition: .2s;
}

.btn-contato button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px #578EC9;
}

h2.titulo {
  color: #fff;
  font-size: 38px;
  text-align: center;
}

h2.titulo span {
  color: #578EC9;
}

.logo a span {
  color: #578EC9;

}

.logo h2 {
  font-family: 'Fira Code', monospace;
  font-size: 30px;
}

h1 span {
  font-family: 'Fira Code', monospace;
}

/* ESTILO DO CABEÇALHO */
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #191919;
  padding: 10px 4%;
  border-bottom: 1px solid #ffffff1c;
}


header>.interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #ffffffbd;
  text-decoration: none;
  display: inline-block;
  transition: .2s;
}

header a:hover {
  transform: scale(1.05);
}

header nav.menu-desktop a:hover {
  color: #fff;
  transform: scale(1.05);
}

header nav ul {
  list-style-type: none;
}

header nav.menu-desktop ul li {
  display: inline-block;
  padding: 0 20px;
}

header nav ul li a {
  color: #578EC9;
  font-weight: bold;
  font-family: 'Fira Code', monospace;
}

header nav ul li a:hover {
  border-bottom: 1px solid white;
}

.img-pessoa {
  width: 350px;
  height: 450px;
}

/* ESTILO DO MENU MOBILE */

.btn-abrir-menu {
  display: none;
}

.btn-abrir-menu i {
  color: #578EC9;
  font-size: 40px;
}

.menu-mobile {
  background-color: #191919;
  border-radius: 10px;
  height: 99vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99999;
  width: 0%;
  overflow: hidden;
  transition: .3s;
}

.menu-mobile.open-menu {
  width: 70%;
}

.menu-mobile.open-menu~.overlay-menu {
  display: block;
}

.menu-mobile nav ul {
  text-align: left;
}

.group-menu-icon {
  display: flex;
  justify-content: space-between;
}

.group-menu-icon i {
  font-size: 23px;
}

.group-menu-icon span {
  font-family: 'Fira Code', monospace;
}

.menu-mobile nav ul li a {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  padding: 15px 4%;
  display: block;
}

.menu-mobile nav ul li a:hover {
  /* background-color: #82AAD1; */
  color: #82AAD1;
  border-left: 5px solid #82AAD1;
  border-bottom: none;
}

.menu-mobile .btn-fechar {
  padding: 20px 5%;
}

.menu-mobile .btn-fechar i {
  color: #82AAD1;
  font-size: 30px;
}

.overlay-menu {
  background-color: #0000009a;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 88888;
  display: none;
}


/* ESTILO DO TOPO DO SITE */

.topo-do-site .interface .flex .txt-topo-site h1 {
  font-size: 45px;
}

.topo-do-site .interface .flex .txt-topo-site h1 span {
  font-size: 30px;
  text-shadow: 0 0 10px #3570B3;
}

section.topo-do-site {
  padding: 210px 4%;
}

section.topo-do-site .flex {
  align-items: center;
  justify-content: center;
  gap: 150px;
}

.topo-do-site h1 {
  color: white;
  font-family: 'Fira Code', monospace;
  font-size: 35px;
  line-height: 40px;
}

.topo-do-site h1 span {
  color: #578EC9;
}

.topo-do-site .txt-topo-site p {
  color: #82AAD1;
  font-size: 14px;
}

.topo-do-site .img-topo-site i {
  color: #578EC9;
  font-size: 20rem;
  position: relative;
  animation: flutuar 2s ease-in-out infinite alternate;
}


@keyframes flutuar {
  0% {
    top: 0
  }

  100% {
    top: 30px
  }
}

/* ESTILOS DAS HABILIDADES */
section.especialidades {
  padding: 200px 4%;
  background-color: #141414;

}

section.especialidades .flex {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section .grupo-de-icones-um {
  padding: 15px;
  gap: 20px;
}

section .grupo-de-icones-um {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

section .interface h2 {
  font-family: 'Fira Code', monospace;
}

section .grupo-de-icones-um i {
  font-size: 40px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}


section .grupo-de-icones-um .grupo-icone-e-nome {
  /* background-color: #242424; */
  border: 2px solid #578EC9;
  border-radius: 5px;
  padding: 10px 40px;
  display: flex;
  align-items: center;

  transition: .3s;
}

section .grupo-de-icones-um .grupo-icone-e-nome:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px #578EC9;
}

section .grupo-de-icones-um .grupo-icone-e-nome i {
  color: #fff;
}

section .grupo-de-icones-um .grupo-icone-e-nome p {
  color: #fff;
}

/* ESTILO DO SOBRE */
#img-foto {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  /* crie um box shadow com efeito de luz */
  box-shadow: 0 0 40px #578EC9;
}

section.sobre {
  padding: 150px 4%;
  border-radius: 15px;
  color: #ffffff;
  background-color: #141414;

}

section.sobre .interface {
  background-color: #242424;
  padding: 40px 4%;
  border-radius: 10px;
}

section.sobre .flex {
  align-items: center;
  gap: 60px;

}

.sobre .txt-sobre {
  color: #fff;
}

.sobre .txt-sobre h2 {
  font-size: 30px;
  font-family: 'Fira Code', monospace;
  margin-bottom: 30px;
}

.sobre .txt-sobre p {
  line-height: 30px;
  font-family: 'Fira Code', monospace;
}

.sobre .txt-sobre h2 span {
  color: #82AAD1;
  font-family: 'Fira Code', monospace;
  font-size: 25px;
  display: block;
}

.sobre .txt-sobre p {
  margin: 20px 0;
  text-align: justify;
}


.btn-social button {
  width: 40px;
  height: 40px;
  border: none;
  background-color: #242424;
  font-size: 22px;
  cursor: pointer;
  margin: 0 5px;
}

.btn-social button i {
  color: #fff;
  transition: .2s;
}

.btn-social button i:hover {
  color: #82AAD1;
}

/* ESTILO DE PROJETOS */
section.portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 200px 4%;

}

section.portfolio .flex {
  width: 270px;
  margin-top: 60px;
  justify-content: center;
  gap: 20px;
}

section.portfolio i {
  color: #578EC9;
}

section.portfolio .img-portfolio,
.img-portfolio-dois {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  background-color: #242424;
  border-radius: 8px;
  transition: .3s;
}

section.portfolio .img-portfolio:hover,
section.portfolio .img-portfolio-dois:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px #578EC9;
}

section.portfolio .img-portfolio img,
section.portfolio .img-portfolio-dois img {
  width: 250px;
  height: auto;
  border-radius: 8px;

}

section.portfolio .img-portfolio img,
section.portfolio .img-portfolio-dois img {
  margin: 10px;
}


section.portfolio .img-portfolio .txt-img,
section.portfolio .img-portfolio-dois .txt-img {
  color: #fff;
  padding: 10px;
}

section.portfolio .img-portfolio .txt-img h2,
section.portfolio .img-portfolio-dois .txt-img h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 16px;
}

section.portfolio .img-portfolio .txt-img p,
section.portfolio .img-portfolio-dois .txt-img p {
  padding: 10px 0;
  font-family: "Fira Code", monospace;
  font-size: 12px;
}

section.portfolio .img-portfolio .txt-img .title-tech,
section.portfolio .img-portfolio-dois .txt-img .title-tech {
  color: #82AAD1;
  /* dê luz no fundo da letra*/
  text-shadow: 0 0 10px #578EC9;
}

section.portfolio .img-portfolio .link-projetos,
section.portfolio .img-portfolio-dois .link-projetos {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: end;
}

section.portfolio .img-portfolio .link-projetos a i,
section.portfolio .img-portfolio-dois .link-projetos a i {
  font-size: 15px;
  color: #fff;
}

section.portfolio .img-portfolio .link-projetos a i:hover,
section.portfolio .img-portfolio-dois .link-projetos a i:hover {
  color: #578EC9;
}


/* ESTILO DE FORMULARIO DE CONTATO */

section.formulario {
  padding: 80px 4%;
  background-color: #141414;
}

section.formulario .titulo,
section.formulario span {
  font-family: "Fira Code", monospace;
}

form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
}



form input,
form textarea {
  width: 100%;
  background-color: #242424;
  border: 0;
  outline: 0;
  padding: 20px;
  border-radius: 15px;
  color: #fff;
  font-size: 18px;
  font-family: "Fira Code", monospace;
}

form textarea {
  resize: none;
  height: 200px;
  max-height: 200px;
}

form .btn-enviar {
  margin-top: 10px;
  text-align: center;
}

form .btn-enviar input {
  width: 150px;
  background-color: #578EC9;
  color: #000;
  font-weight: 700;
  cursor: pointer;
  transition: .2s;
}

form .btn-enviar input:hover {
  box-shadow: 0px 0px 8px #578EC9;
  transform: scale(1.05);
}

/* ESTILO DO FOOTER */

footer {
  padding: 40px 4%;
}

footer .flex {
  justify-content: space-between;
}

footer .line-footer {
  padding: 20px 0;
}

.borda {
  border-top: 2px solid #578EC9;
}

footer .line-footer p i {
  color: #578EC9;
  font-size: 22px;
}

footer a {
  text-decoration: none;
}

footer a h2 {
  color: #ffffffbd;
  transition: .2s;
}

footer a h2:hover {
  transform: scale(1.05);
}

footer .line-footer p a {
  color: #fff;
}

footer .line-footer p {
  color: #fff;
}

footer .copyright p {
  font-style: italic;
  font-size: 14px;
}

@media only screen and (max-width: 1020px) {

  /* MENU MOBILE */

  .btn-abrir-menu {
    display: block;
  }

  /* CLASSES GERAIS */
  .flex {
    flex-direction: column;
  }

  h2.titulo {
    font-size: 30px;
    line-height: 34px;
  }

  /* CABEÇALHO */
  .menu-desktop,
  .btn-contato {
    display: none;
  }

  /* TOPO DO SITE */

  section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 40px;
  }

  section.topo-do-site {
    padding: 200px 8%;
  }

  .topo-do-site .txt-topo-site i {
    font-size: 30px;
  }

  .topo-do-site h1 {
    font-size: 30px;
    padding-bottom: 20px;
  }

  .topo-do-site .img-topo-site i {
    font-size: 0px;
  }

  /* ESPECIALIDADES */
  section.especialidades {
    padding: 100px 8%;
  }


  section .grupo-de-icones-um {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 40px;
    font-size: 0px;
  }

  section .grupo-de-icones-um i {
    font-size: 30px;
  }


  /* SOBRE */

  section.sobre {
    padding: 80px 8%;
  }

  .sobre .txt-sobre p {
    font-size: 16px;
    text-align: left;
    word-spacing: normal;
  }

  .btn-social {
    text-align: center;
  }

  section .img-sobre {
    padding-top: 40px;
  }

  .img-sobre #img-foto {
    width: 250px;
    height: 250px;
  }

  /* PORTFÓLIO */
  section.portfolio {
    padding: 80px 8%;
  }

  .img-port {
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
  }

  section.portfolio .flex {
    gap: 60px;
  }

  section.portfolio .img-portfolio img,
  section.portfolio .img-portfolio-dois img {
    margin: 0px;
  }

  section.portfolio .img-portfolio .link-projetos a i,
  section.portfolio .img-portfolio-dois .link-projetos a i {
    font-size: 22px;
  }

  /* FOOTER */
  footer .flex {
    flex-direction: column;
    gap: 30px;
  }

  footer .line-footer {
    text-align: center;
  }
}

.hidden {
  display: none;
}

::-webkit-scrollbar {
  width: 7px;
  background-color: #242424;
}

::-webkit-scrollbar-thumb {
  background-color: #578EC9;
  border-radius: 5px 0px 0px 5px;
}